
####################
# CircleCI configuration reference:
#   https://circleci.com/docs/2.0/configuration-reference
####################
# CircleCI built-in environment variables:
#   https://circleci.com/docs/2.0/env-vars/#built-in-environment-variables
####################

commands:
  uv_setup:
    steps:
      - run:
          name: install uv
          command: curl -LsSf https://astral.sh/uv/0.4.8/install.sh | sh



version: 2.1

jobs:
  hello-job:
    docker:
      - image: cimg/python:3.10 # the primary container, where your job's commands are run
    steps:
      - checkout
      - uv_setup
      - run:
          name: activate_env
          command: source $HOME/.cargo/env & uv sync --frozen

workflows:
  my-workflow:
    jobs:
      - hello-job